#poke-card {
    flex: 0 1 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding:1vw;
    min-width: 40vw;
    border-radius: 1%;
    box-shadow:0px 7px 22px 3px rgba(0,0,0,0.95)
}

#poke-card>div:first-child {
    flex: 1 0 100%;
}

#poke-stats {
    margin-left: auto;
    text-align: justify;
    width: 14vw;
}
#shiny-box{
    margin-top:12vh;
    margin-left: 1vw;
    margin-right: 1vw;
}
.poke-images{
    width: 10vw;
    height: 10vw;
}
.poke-images-container{
    border: solid;
    border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
    border-width: 5px 3px 3px 5px;
    /* css has problem with images inside public folder, so i move svg image inside pokemon-card */
    background-image: url("pokebackground.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width:fit-content;
    margin:auto;
    transform: rotate(2deg);
}
@media only screen and (orientation: portrait) {
    #poke-card {
        min-width: 80vw;
        max-width: 85vw;
    }
    #poke-stats {
        margin-left: 10vw;
        width: 20vw;
    }
    .types-images{
        width: 6vh;
        height: 6vh;
    }
    .poke-images{
        width: 18vh;
        height: 18vh;
    }
    #shiny-box{
        flex: auto;
    }
}