#poke-card {
    flex: 0 1 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding:1vw;
}

#poke-card>div:first-child {
    flex: 1 0 100%;
}

#poke-stats {
    margin-left: auto;
    text-align: justify;
}
#shiny-box{
    margin-top:12vh;
    margin-left: 1vw;
    margin-right: 1vw;
}
.poke-images{
    width: 10vw;
    height: 10vw;
}