.App {
  height: 100vh;
  font-size: calc(0.8vh + 0.8vw)
}

span{
  font-size: calc(0.8vh + 0.8vw)
}
button {
  width: 10vw;
  height: 3vh;
  padding: 1vh;
}

#nav {
  padding: 1%;
  display: flex;
  justify-content: center;
}

#content {
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 1vh;
  height: auto;
}

.id-change-button {
  height: 100%;
}

input {
  height: 3vh;
  width: 20vw;
  padding: 0;
  font-size: 12px;
  margin-right: 1vw;
  padding: 0 0;
  line-height: 0px;
}